<!DOCTYPE html>
{%extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block baseblock%}
<form method="post">
        {{form.as_p}}
        {%csrf_token%}
    MODEL NAME:<input type="text" name="modelname" value="{{form.modelname}}">
    <br>
    MODEL PRICE:<input type="text" name="modelprice" value="{{form.modelprice}}">
    <br>
    MODEL QNTY:<input type="text" name="modelqnty" value="{{form.modelqnty}}">
    <br>
        <input type="submit" class="btn btn-outline-success" value="Update record">
    </form>
{%endblock%}
</body>
</html>